{% extends "portal/base.html" %}
{% block content %}
<div class="container">
<h2>Acerca de Nosotros.</h2>
<p>Cachivaches, un nuevo formato en compras.</p>
<p>Nuestra empresa nació con el afán de comprar, vender, intercambiar y/o permutar cualquier artículo.</p>
<p>Ayudamos en concientizar y educar a toda la población sobre la importancia de la preservación del medio ambiente,
    bajo su participación activa en la realización y ejecución de proyectos que surjan desde un pensamiento
    ecológico y sustentable, sugiriendo respuestas inmediatas a situaciones que afecten el medio ambiente.</p>
<p>A través de nuestra actividad, buscamos asegurar el desarrollo sostenible del sistema que gestionamos a
    medio/largo plazo, y un funcionamiento óptimo, que satisfaga las necesidades de los participantes, frente a las
    demandas actuales y futuras de la sociedad y las administraciones, en los temas relativos a la reutilización de
    las cosas.</p>
<p>Además de implementar y aportar a nuestros clientes y a la sociedad soluciones y herramientas que permitan
    acometer sus compromisos ambientales de forma eficaz, segura y responsable.</p>
<p>Queremos ser la primera organización que establece una arraigada cultura ecológica emergida desde la base de la
    sociedad. Construyendo en ella una conciencia ambientalista que reconozca la trascendental acción del ser humano
    en el cuidado del planeta.</p>
<p>Soñamos con un entorno humano mas limpio, mas amable para nuestros hijos y es por eso que aspiramos a ser un real
    aporte a conseguir que esa sea nuestra realidad para las futuras generaciones, un planeta mas limpio.</p>
</div>
{% endblock %}