{% extends "portal/base.html" %}
{% load static%}

{% block content %}

<div class="container">
<img src="{% static 'img/RadioCasette2.jpg' %}" width="215" height="215" alt="default.jpg">
<img src="{% static 'img/Personal1.jpg' %}" width="215" height="215" alt="default.jpg">
<img src="{% static 'img/Rubix.jpg' %}" width="215" height="215" alt="default.jpg">
<img src="{% static 'img/Retro1.jpg' %}" width="215" height="215" alt="default.jpg">
<img src="{% static 'img/Retro2.PNG' %}" width="215" height="215" alt="default.jpg">
<img src="{% static 'img/Cassette1.jpg' %}" width="215" height="215" alt="default.jpg">
</div>
{% endblock content %}